<!DOCTYPE html>
<html ng-app="MyFirstApp">
    <head>
        <title>Hola Controller</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/angular.min.js" type="text/javascript"></script>
        <script src="../hola_controller/controller.js" type="text/javascript"></script>
    </head>
    <body ng-controller="FirstController">
        <input type="text" ng-model="nuevoComentario.comentario"/>
        <br>
        <input type="text" ng-model="nuevoComentario.username"/>
        <br>
        <button ng-click="agregarComentario()">Agregar comentario
        </button>
        <h3>Comentarios</h3>
        <ul>
            <li ng-repeat="comentario in comentarios">
                {{comentario.comentario}} - <strong>{{comentario.
                username}}</strong>
            </li>
        </ul>
    </body>
</html>
